/* Reset padrão */
body, h1, h2, ul, li, form, input, select, button, table, th, td {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f3f4f6;
    color: #333;
    line-height: 1.6;
}

/* Cabeçalho */
header {
    background-color: #215C98;
    padding: 10px 20px;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo {
    width: 50px; /* Ajuste do tamanho da logo */
    height: auto;
}

header h1 {
    color: white;
    font-size: 1.2em; /* Tamanho reduzido do título */
    font-weight: bold;
    margin: 0;
}

/* Layout principal */
.main-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 20px;
    padding: 20px;
}

/* Coluna esquerda */
.left-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Estilo das janelas */
.solicitacao-container, .materiais-reservados, .graficos-container, .materiais-solicitados {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.graficos-container {
    text-align: center;
}

/* Títulos das seções */
h2 {
    margin-bottom: 15px;
    color: #215C98;
}

/* Inputs e selects modernos */
select, input[type="text"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 1em;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

select:focus, input[type="text"]:focus {
    border-color: #215C98;
    box-shadow: 0 0 8px rgba(33, 92, 152, 0.5);
    outline: none;
}

input[type="text"]::placeholder {
    color: #aaa;
    font-style: italic;
    font-size: 0.9em;
}

/* Botões */
.button-container {
    display: flex;
    gap: 10px;
}

button {
    padding: 12px;
    font-size: 1em;
    background-color: #215C98;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #17406d;
    transform: scale(1.03);
}

/* Estilo para tabelas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 0.9em;
    text-align: left;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
}

th {
    background-color: #215C98;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f3f4f6;
}

tbody tr:hover {
    background-color: #d3e4f7;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 10px;
    background-color: #215C98;
    color: white;
    font-size: 0.9em;
}
